

*{
    box-sizing: border-box;
    text-decoration: none;
    
}

#body-contacto{
    background-color: #050E19;

    .section-form{
        display: flex;
        flex-direction: column;
        

        .container{
            @include display;
            padding: 20px;

            form{
            width: 100%;
                .mb-3{
                   
                    .form-label{
                        color: lightyellow;
                    }
                }
            }
        }

        .parrafo-contacto{
            width: 100%;
            background-image: linear-gradient(0deg,  rgba(0,0,0,.5), rgba(0,0,0,0.0) ), url(/img/plato.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 350px;
            display: flex;
            /*pantalla grande size 100x100*/

            .container{
                display: flex;
                justify-content:flex-start;
                flex-direction: column;
                align-items: center;
                text-align: center;
            
                h4{
                 font-size: 50px;
                 font-variant:petite-caps;
                 margin: 30px;
                 color: lightyellow;
                 text-shadow: 2px 2px 4px #000000;
                 animation: lamiglioreh1;
                 animation-duration: 2s;
                 animation-iteration-count: infinite; 
                }
                @keyframes lamiglioreh1{
                    0%{
                        transform: scale(1);
                    }
                    20%{
                        transform: scale(.3);
                    }
                    40%{
                        transform: scale(.6);
                    }
                    60%{
                        transform: scale(.9);
                    }
                    80%{
                        transform: scale(1);
                    }
                }    
                

                p{
                    color: white;
                    width: 250px;
                    font-size: large;
                   
                }
        
        
            }
        }
    
        .redes-contacto{
       
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: initial;

                a{
                 margin: 10px;
                }
            }
        }


    
    }


    #footer-index{
        margin-top: 5rem;
        background-color:#050E19;
        padding: 1rem;
        border-top: 2px solid white;

        .container{
            display: flex;
            justify-content: space-between;
            position: relative;

            .info{
                flex:0 0 calc(10% - 1rem);

                h3{
                    color: lightyellow;
                }
                p{
                    color:white;
                    margin: 0;
                    font-size: smaller;
                }   
                .fa-solid{
                    font-size: 50px;
                    margin: 20px 15px;
                    color: white;
                }
                .fa-brands{
                    font-size: 50px;
                    margin: 20px 15px;
                    color: white;
                }
                
                
            }
        }
            
    }



}













/*RESPONSIVE*/  /*RESPONSIVE*/ /*RESPONSIVE*/ /*RESPONSIVE*/ /*RESPONSIVE*/


@media screen and (min-width:780px) {
    #body-contacto .section-form .parrafo-contacto{
        background-position: center;
       
    }
    #body-contacto .section-form .parrafo-contacto .container{
        text-align: left;
        display: flex;
        flex-flow: revert;
    }

    #body-contacto .section-form .parrafo-contacto .container p{
        width: 550px;
    }
}


@media screen and (max-width:780px){
    #body-contacto .section-form .parrafo-contacto{
        height: 450px;
        display: flex;
    }
}





 
/*FOOTER RESPONSIVE */  /*FOOTER RESPONSIVE */  /*FOOTER RESPONSIVE */ 

    @media screen and (max-width:450px){
        #body-contacto #footer-index{
            background-color: #050E19;
        }

        #body-contacto #footer-index .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
    }



    @media (max-width:780px){
        #body-contacto .section-form .parrafo-contacto{
            height: 450px;
            display: flex;
        }
    }






