$colores: (
    "bordo": #7b1411,
    );

    #body-index{
        margin: 0;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        p{
            font-size: large;
            margin: 40px 0;
            width: 100%;
        }
    
        container{
            max-width: 1400px;
            margin: auto;
        }
        header{
            width: 100%;
        }
    
        #hero{
            @include display;
            text-align: center;
            height: 90vh;
            background-image:linear-gradient(0deg,  rgba(0,0,0,.5), rgba(0,0,0,0.0) ), url(../img/fondo2.png);
            background-repeat: no-repeat;
            background-size: cover;
    
             .container{
    
                h1{
                    font-size: 70px;
                    font-family:unset;
                    text-shadow: 1px 3px 1px map-get($map: $colores , $key:'bordo' );
                    margin: 0;
                    color: lightyellow;  
                    animation: lamiglioreh1;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                }
                @keyframes lamiglioreh1{
                    0%{
                        transform: scale(1);
                    }
                    20%{
                        transform: scale(.3);
                    }
                    40%{
                        transform: scale(.6);
                    }
                    60%{
                        transform: scale(.9);
                    }
                    80%{
                        transform: scale(1);
                        }
                    }
                
                p{
                    color: lightyellow;
                }
    
                form{
                    .boton-menu{
                        margin: 50px 0;
                        border-radius: 5px;
                        width: 150px;
                        position: relative;
                        padding: 10px 15px;
                        border: none;
                        outline: none;
                        background-color: lightyellow;
                        backdrop-filter: blur(2px);;  
                        cursor: pointer; 
                        transition:.5s ;
                        overflow: hidden;
    
                        .parrafo__boton__menu{
                            text-decoration: none;
                            font-size: 20px;
                            color:map-get($map: $colores , $key:'bordo');
                            font-weight: 700;
                        }
    
                            span{
                            position: absolute;
                            background-color:map-get($map: $colores , $key:'bordo');
                            transition: .5s;
                            }
                            span:nth-child(1){
                            width: 100%;
                            height: 3px;
                            top: 0;
                            left: -100%;
                            }
                            span:nth-child(2){
                            width: 100%;
                            height: 3px;
                            bottom: 0;
                            right: -100%;
                            }
                            span:nth-child(3){
                            width: 3px;
                            height: 100%;
                            bottom: -100%;
                            left: 0;
                            }
                            span:nth-child(4){
                            width: 3px;
                            height: 100%;
                            top: -100%;
                            right: 0;
                            }  
                    }
        
                    button:hover span:nth-child(1){
                        left: 0;
                    }
                    button:hover span:nth-child(2){
                        right: 0;
                    }
                    button:hover span:nth-child(3){
                        bottom: 0;
                    }
                    button:hover span:nth-child(4){
                        top: 0;
                    }
                
            
                }
            }
        }
    
    
        #section-speciale{
            background-color: black;
            .container{
                text-align: center;
                padding: 150px 12px;
    
             h2{
                font-size:30px;
                text-shadow: 1px 0px 3px black;
                font-variant: petite-caps;
                display: inline-block;
                position: relative;
                color: lightyellow;
                width: 300px;
            }
    
    
            h2::after, h2::before{ 
                content:'';
                position: absolute;
                width: 100px;
                height: 2px;
                background-color: lightyellow;
                top: 20px;
                width: 40px;
                
            } 
                h2::before{
                    left: 0;
                }
                h2::after{
                    right: 0px;
    
                }
            
            p{
                color: lightyellow;
            }
            }
        }
    
    
    
        #footer-index{
            margin-top: 5rem;
            background-color:map-get($map: $colores , $key:'bordo');
            padding: 1rem;
    
            .container{
                display: flex;
                justify-content: space-between;
                position: relative;

                .info{
                    flex:0 0 calc(10% - 1rem);

                    h3{
                        color: lightyellow;
                    }
                    p{
                        color:white;
                        margin: 0;
                        font-size: smaller;
                    }   
                    .fa-solid{
                        font-size: 50px;
                        margin: 20px 15px;
                        color: white;
                    }
                    .fa-brands{
                        font-size: 50px;
                        margin: 20px 15px;
                        color: white;
                    }
                    
                    
                }
            }
                
        }
    
    
    }
    
    
    /*RESPONSIVE SECTION SPECIALE*/
    @media screen and (min-width:769px){
        
        #body-index #section-speciale .container{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        #body-index #section-speciale .container .texto-speciale{
            width: 50%;
            text-align: revert;
            padding: 0px 30px;
        
        }    
    
        #body-index #section-speciale .container .img-container{
            background-image: url(../img/letrero.png);
            background-size: cover;
            background-position: center center;
            height: 600px;
            width: 400px;
            border-radius: 10px;
        }
    }
    
    
    @media screen and (min-width:720px) and (max-width:768px){

        #body-index #section-speciale .container{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        #body-index #section-speciale .container .texto-speciale{
            width: 50%;
            text-align: revert;
            padding: 0px 30px;
        
        }    
        #body-index #section-speciale .container .texto-speciale h2{
            width:200px ;
            font-size: 30px;
        
        }    
    
        #body-index #section-speciale .container .img-container{
            background-image:url(../img/letrero.png);
            background-size: cover;
            background-position: center center;
            height: 600px;
            width: 400px;
            border-radius: 10px;
        }
    }

    
    



  /*FOOTER RESPONSIVE */

    @media screen and (max-width:450px){
        #body-index #footer-index{
            background-color: #050E19;
        }

        #body-index #footer-index .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
    }