%h4__menu{
    font-size: 30px;
    color: lightyellow;
    font-family: cursive;
}

%contenedor_imagen{
width: 400px;
height: 300px;
border-radius: 10px;
}

%display{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}